<% content_for :head do %>
  <%= jsHarmonyCMS_editor_tag %>
<% end %>

<h1 cms-title><%= @page.title || 'Random Numbers' %></h1>
<div cms-content-editor="page.content.before"><%= @page.content.before.html_safe %></div>
<p>Your number is: <%= @number %></p>
<div cms-content-editor="page.content.after"><%= @page.content.after.html_safe %></div>

