<!DOCTYPE html>
<html>
  <head>
    <title>RailsJsh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>Application Header</h2>
      <ul>
        <li><%= link_to "About", "/about/" %></li>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>Application Footer</footer>
  </body>
</html>
