<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= yield :title %></title>
    <% else %>
      <title>RailsJsh</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <% if cms_is_in_editor? %>data-turbolinks="false"<% end %>>
    <header>
      <h2>Application Header</h2>
      <ul>
        <li><%= link_to "About", "/about/" %></li>
        <li><%= link_to "Test Cases", "/cms_overview" %></li>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <%= yield :footer %>
    <footer>Application Footer</footer>
  </body>
</html>
